__pycache__/
*.pyc
data/
processed_data/
runs/
*.pth
*.zip
*.tar.gz
.DS_Store
house_data_local.py
my_download.py
face_landmarker.task
access_dhoni.sh
d1deutsch@dhoni.ucsd.edu/
WhiteMaleDownload/
fixation_data/
runs_2.1/
visualize_ch.py
